span{
    height: 40px;
    border-left: 0.5px solid black;
    align-content: center;
    padding: 15px;
    box-sizing: border-box;

}
#contacto{
    background-color: #0ca0ab;  
    display: flex;
    border: 0.5px solid black ;
}
.w5{
    width: 5%;
}
.w10{
    width: 10%;
}
.w25{
    width: 25%;
}
.w30{
    width: 30%;
}
.w15{
    width: 15%;
}
.w20{
    width: 20%;
}