span{
    width: 20%;
    border-left: 0.5px solid black;
    align-content: center;
    padding: 15px;
}
#contacto{
    background-color: #0ca0ab;  
    display: flex;
    border: 0.5px solid black ;
}