span{
    width: 20%;
    border-left: 1px solid black;
    text-align: center;
}
#list-top{
    background-color: #067d88;
    border: 1px solid black;
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
