.overlay {
  position: fixed;          /* se queda en el medio aunque hagas scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* fondo gris translúcido */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;            /* arriba de todo */
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid var(--color1);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
