
#Sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 100vh;
    background-color: #036c77;
    color: white;
}
header{
    background-color: #036c77;
    color: white;
    height: 20%;
}
#content{
    width: 80%;
}
.d-flex{
    display: flex;
}