
#Sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 90dvh;
    background-color: #036c77;
    color: white;
    border-top: 1px solid #005a65;
}
header{
    background-color: #036c77;
    color: white;
    height: 10dvh;
    align-content: center;
}
#content{
    width: 80%;
}
h1{
    font-size: 36px;
    padding-left: 20px;
}
.d-flex{
    display: flex;
}
.selected{
    background-color: #005a65;
}
a{
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #005a65;
    padding: 40px 0px;
}