span{
    
    height: 40px;
    border-left: 1px solid black;
    text-align: center;
    align-content: center;
}
#list-top{
    background-color: #067d88;
    border: 1px solid black;
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.w5{
    width: 5%;
}
.w10{
    width: 10%;
}
.w25{
    width: 25%;
}
.w30{
    width: 30%;
}
.w15{
    width: 15%;
}
.w20{
    width: 20%;
}
.p20{
    padding: 20px;
}
